@import "../../index.scss";

.loginScreen{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background-color: #F6F8FC;
    padding-bottom: 120px;

    @media only screen and (max-width: $bp-small){
        padding: 40px;
    }

    

    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media only screen and (max-width: $bp-smallest){
            width: 100%;
    
        }

        h1{
            text-align: center;
            font-size: 3.4rem;
            font-weight: 800;
            color: #000000;
            margin-bottom: 10px;
            line-height: 50px;

            @media only screen and (max-width: $bp-smallest){
                text-align: left;
        
            }

        }
        form{
            display: flex;
            flex-direction: column;
            gap: 24px;
            width: 350px;

            @media only screen and (max-width: $bp-smallest){
                width: 100%;
        
            }

            label{
                display: flex;
                flex-direction: column;
                gap: 6px;
                
                span{
                    font-size: 1.6rem;
                    font-weight: 700;
                    color: #000000;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    svg{
                        cursor: pointer;
                    }

                }
                input{
                    outline: none;
                    border: none;
                    border-radius: 10px;
                    padding: 10px 16px;
                    font-size: 1.8rem;
                    font-weight: 400;
                    color: #1e1e2f;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                    background-color: transparent;
                    cursor: pointer;

                    &::placeholder{
                        font-size: 1.6rem;
                        color: #b6b3b3;
                        font-weight: 300;
                        font-family: "Open Sans";

                    }

                }
                .checkbox{

                    box-shadow: none;

                }
              

            }
            button{
                margin-block: 20px;
                outline: none;
                border: 1px solid transparent;
                border-radius: 10px;
                background: #6161FC;
                color: #fff;
                padding: 10px 20px;
                font-size: 1.8rem;
                font-weight: 700;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                &:hover{
                    background-color: transparent;
                    color: #6161FC;
                    border-color: #6161FC;
            
                    
                }

            }
            .register{
                display: flex;
                align-self: center;
                .text{
                    font-size: 1.6rem;
                    font-weight: 600;
                    color: #000000;
                }
            }

        }
        

    }

}