
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,300;1,500;1,700;1,800&family=Poppins:ital,wght@0,500;0,600;1,400;1,500&display=swap');


////////////////////////////////////////////////
/// MEDIA QUERIES 
        $bp-medium: 37.5em;    //600px
        $bp-small: 31.25em;    //500px
        $bp-smallest: 28.125em;    //450px
        $bp-mobile: 21.875em;    //350px
////////////////////////////////////////////////





*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; //1rem==10px , 10px/16px=62.5%

    @media only screen and (max-width: $bp-medium){
        font-size: 50%; //1rem==8px , 8px/16px=50%

    }

   
}

body {
    font-family: "Open Sans" , sans-serif;
    font-size: 1.6rem;
    color: #101010;
    background-color: #f7f7f7;
    min-height: 100vh;
}
